@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;

@layer tailwind-utilities {
  @tailwind utilities;
}

:root {
  color-scheme: light dark;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}
